$base-font-size: 16px;

$primary-font-color: #FFF;
$secondary-font-color: #767E86;
$input-font-color: #172432;

$primary-color: #FF7757;
$secondary-color: #FFF;
$third-color: #FFF8F1;
$fourth-color: #F5F6F7;

$imgs-path: '../images';

html, body {
  font-size: $base-font-size;
}